
/* ******************************************************************************************
****************************            页面主体        *************************************
*******************************************************************************************/

html, body{
            width: 100%;
            height: 100%;
            position: relative;
            padding: 0;
            margin: 0;
}

body{
    background: #333;
}



/* ******************************************************************************************
************************            加tab页的div容器        *********************************
*******************************************************************************************/

.div_tab_container {
    position: relative;
    background: white;
    padding: 3em;
    border-radius: 10px;
    height: 100%;
}
/* ===========
   Tab Styling */
.tab-group {
    position: relative;
    border: 1px solid #eee;
    margin-top: 1rem;
    border-radius: 0 0 10px 10px;
    width: 45%;
    height: 50%;
    float: left;
    margin-left: 0.6rem;
}
.tab-group section {
    opacity: 0;
    height: 0;
    padding: 0 1em;
    overflow: hidden;
    transition: opacity 0.4s ease, height 0.4s ease;
}
.tab-group section.active {
    opacity: 1;
    /*根据父节点来设置高度*/
    height: 100%;
    overflow: visible;
}
.tab-nav {
    list-style: none;
    margin: -2.5em -1px 0 0;
    padding: 0;
    height: 2.5em;
    overflow: hidden;
}
.tab-nav li {
    display: inline;
}
.tab-nav li a {
    top: 1px;
    position: relative;
    display: block;
    float: left;
    border-radius: 10px 10px 0 0;
    background: #eee;
    line-height: 2em;
    padding: 0 1em;
    text-decoration: none;
    color: grey;
    margin-top: .5em;
    margin-right: 1px;
    transition: background .2s ease, line-height .2s ease, margin .2s ease;
}
.tab-nav li.active a {
    background: #6EB590;
    color: white;
    line-height: 2.5em;
    margin-top: 0;
}



/* ******************************************************************************************
****************************            下拉框        ***************************************
*******************************************************************************************/

@charset "UTF-8";

.combobox_container {
	max-height: 0.5rem;
	max-width: 12rem;
	position: absolute;
	margin-bottom: 1rem;
}

@font-face {
	font-family: "select-mania-font";
	src:url("/static/fonts/select-mania-font.eot");
	src:url("/static/fonts/select-mania-font.eot?#iefix") format("embedded-opentype"),
	url("/static/fonts/select-mania-font.woff") format("woff"),
	url("/static/fonts/select-mania-font.ttf") format("truetype"),
	url("/static/fonts/select-mania-font.svg#select-mania-font") format("svg");
	font-weight: normal;
	font-style: normal;
}

.select-mania [data-icon]:before {
	font-family: "select-mania-font" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.select-mania [class^="icon-"],
.select-mania [class*=" icon-"] {
	display:inline-block;
}
.select-mania [class^="icon-"]:before,
.select-mania [class*=" icon-"]:before {
	font-family: "select-mania-font" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.select-mania .icon-arrow-down:before {
	content: "\61";
}
.select-mania .icon-cross:before {
	content: "\63";
}
.select-mania .icon-loading:before {
	content: "\6c";
}

@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.select-mania .icon-loading-container {
	display:inline-block;
	width:2rem;
	height:2rem;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	font-size:2rem;
}
.select-mania .icon-loading-container .icon-loading {
	width:2rem;
	height:2rem;
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

/* ################################################################## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GLOBAL ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ################################################################## */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ORIGINAL SELECT */

.select-mania-original {
	border:0 !important;
	clip:rect(0 0 0 0) !important;
	margin:0 !important;
	overflow:hidden !important;
	padding:0 !important;
	position:absolute !important;
	top:0 !important;
	left:0 !important;
	width:100% !important;
	height:100% !important;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SELECTMANIA ELEMENT */

.select-mania {
	display:inline-block;
	position:relative;
	width:100%;
	margin:auto;
	background:white;
	vertical-align:middle;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

.select-mania,
.select-mania *,
.select-mania-dropdown,
.select-mania-dropdown * {
	box-sizing:border-box !important;
}

.select-mania,
.select-mania *:not(.select-mania-search-input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.select-mania-inner {
	width:100%;
	min-height:2.5rem;
	font-size:0;
	padding:.375rem;
	border:.0625rem solid #D6D6D6;
	border-radius:.25rem;
	-webkit-border-radius:.25rem;
	-moz-border-radius:.25rem;
	cursor:pointer;
}
.select-mania-inner.select-mania-disabled {
     border-color:#DDDDDD;
}
 .select-mania-values, .select-mania-value, .select-mania-value-text, .select-mania-value-clear, .select-mania-clear, .select-mania-arrow {
     display:inline-block;
     vertical-align:middle;
}
 .select-mania-hidden {
     display:none !important;
}
 .select-mania-focused {
     -webkit-box-shadow: #047DE2 0 0 0.25rem;
     -moz-box-shadow: #047DE2 0 0 0.25rem;
     box-shadow: #047DE2 0 0 0.25rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SELECTED VALUES */
 .select-mania-values {
     width:calc(100% - 3rem);
     min-height:1.625rem;
     padding-right:0.25rem;
     font-size:0;
     text-align:left;
}
 .select-mania.select-mania-disabled .select-mania-inner {
     color:#CCCCCC;
}
 .select-mania-value {
     width:auto;
     max-width:100%;
     height:1.625rem;
     border-radius: 0.25rem;
     -webkit-border-radius:0.25rem;
     -moz-border-radius:0.25rem;
     margin-top:0.0625rem;
     margin-bottom:0.0625rem;
     margin-right:0.25rem;
     padding: 0 0.125rem;
     font-size:0;
}
 .select-mania.select-mania-multiple .select-mania-value {
     border: 1px solid #047DE2;
     background-color: #047DE2;
     color: white;
}
 .select-mania-value-text {
     height:1.625rem;
     padding:0.25rem;
     font-size:1rem;
     text-align:left;
     overflow:hidden;
     text-overflow:ellipsis;
     white-space:nowrap;
     max-width: 100%;
}
 .select-mania.select-mania-multiple .select-mania-value-text {
     max-width:calc(100% - 1.375rem);
}
 .select-mania-value-clear {
     display:none;
}
 .select-mania.select-mania-multiple .select-mania-value-clear {
     display:inline-block;
     width:1.375rem;
     height:1.625rem;
     padding:0.25rem;
     font-size:1rem;
     text-align:center;
}
 .select-mania-value-clear i {
     line-height:1.125rem;
     font-size:0.9rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PLACEHOLDER */
 .select-mania-placeholder {
     display:none;
     width:auto;
     height:1.625rem;
     padding:0.25rem;
     font-size:1rem;
     color:#7F8C8D;
}
 .select-mania-placeholder:only-child {
     display:inline-block;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CLEAN VALUES ICON */
 .select-mania-clear {
     width:1.5rem;
     font-size:1rem;
     text-align:center;
     color: #EB1F38;
}
 .select-mania.select-mania-disabled .select-mania-clear {
     color:#CCCCCC;
}
 .select-mania-clear i {
     font-size:1.1rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ARROW ICON */
 .select-mania-arrow {
     width:1.5rem;
     font-size:1rem;
     text-align:center;
     color: #383838;
}
 .select-mania.select-mania-disabled .select-mania-arrow {
     color:#CCCCCC;
}
 .select-mania-arrow i {
     font-size:1.1rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DROPDOWN */
 .select-mania-dropdown {
     background:white;
     z-index:9;
     display:none;
     position:absolute;
     top:100%;
     width:100%;
     padding:0.375rem;
     border:1px solid #D6D6D6;
     border-radius:0.25rem;
     -webkit-border-radius:0.25rem;
     -moz-border-radius:0.25rem;
}
 .select-mania-dropdown-search {
     width:100%;
     margin-bottom:0.375rem;
}
 .select-mania-search-input {
     width:100%;
     padding:0.375rem;
     border-radius:0.25rem;
     -webkit-border-radius:0.25rem;
     -moz-border-radius:0.25rem;
     font-size:1rem;
     border:1px solid #D6D6D6;
     color: #5A5A5A;
     outline:none;
     background-image:none;
     background-color:transparent;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
}
 .select-mania-items-container {
     position:relative;
     width:100%;
     max-height:12.5rem;
}
 .select-mania-items {
     width:100%;
     max-height:12.5rem;
     overflow-y:auto;
}
 .select-mania-group {
     width:100%;
}
 .select-mania-group.select-mania-disabled {
     color: #D6D6D6;
}
 .select-mania-group-title {
     width:100%;
     padding:0.375rem;
     font-size:1rem;
     font-weight:bold;
     text-align:left;
}
 .select-mania-group-inner {
     width:100%;
}
 .select-mania-item {
     width:100%;
     min-height:1.25rem;
     padding:0.375rem;
     border-radius:0.25rem;
     -webkit-border-radius:0.25rem;
     -moz-border-radius:0.25rem;
     font-size:0;
     cursor:pointer;
     text-align:left;
}
 .select-mania-item.select-mania-hover {
     background:#E3F1FC;
}
 .select-mania-item:empty[data-value=""] {
     display:none;
}
 .select-mania-group-icon, .select-mania-item-icon {
     width: 1.25rem;
     height: 1.25rem;
     display: inline-block;
     font-size: 1rem;
     text-align: center;
     margin-right: 0.25rem;
     vertical-align: top;
}
 .select-mania-group-icon i, .select-mania-item-icon i {
     width: 1.25rem;
     height: 1.25rem;
     vertical-align: middle;
}
 .select-mania-group-text, .select-mania-item-text {
     display: inline-block;
     width: 100%;
     min-height: 1.25rem;
     font-size:1rem;
     vertical-align: top;
     text-align:left;
}
 .select-mania-group-icon+.select-mania-group-text, .select-mania-item-icon+.select-mania-item-text {
     width: calc(100% - 1.5rem);
}
 .select-mania-group-inner .select-mania-item {
     padding-left:1.125rem;
}
 .select-mania-item.select-mania-selected {
     background: #047de2;
     color: white;
}
 .select-mania.select-mania-multiple .select-mania-item.select-mania-selected {
     display:none;
}
 .select-mania-item.select-mania-disabled {
     color: #D6D6D6;
}
 .select-mania-item.select-mania-disabled.select-mania-hover {
     background:none;
}
/* ################################################################## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ TAILLE TINY ~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ################################################################## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GLOBAL */
 .select-mania-tiny .select-mania-inner {
     min-height:1.5rem;
     padding:0.125rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SELECTED VALUES */
 .select-mania-tiny .select-mania-values {
     width:calc(100% - 2.25rem);
     min-height:1.125rem;
}
 .select-mania-tiny .select-mania-value {
     height:1rem;
}
 .select-mania-tiny .select-mania-value-text {
     height:0.875rem;
     padding:0;
     font-size:0.75rem;
}
 .select-mania-tiny.select-mania-multiple .select-mania-value-text {
     max-width:calc(100% - 0.875rem);
}
 .select-mania.select-mania-multiple.select-mania-tiny .select-mania-value-clear {
     width:0.875rem;
     height:0.875rem;
     padding:0;
}
 .select-mania-tiny .select-mania-value-clear i {
     line-height:0.875rem;
     font-size:0.75rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PLACEHOLDER */
 .select-mania-tiny .select-mania-placeholder {
     height:1rem;
     padding:0.125rem;
     font-size:0.75rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CLEAN VALUES ICON */
 .select-mania-tiny .select-mania-clear {
     width:1.125rem;
}
 .select-mania-tiny .select-mania-clear i {
     font-size:0.85rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ARROW ICON */
 .select-mania-tiny .select-mania-arrow {
     width:1.125rem;
}
 .select-mania-tiny .select-mania-arrow i {
     font-size:0.85rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DROPDOWN */
 .select-mania-dropdown.select-mania-tiny {
     padding:0.125rem;
}
 .select-mania-tiny .select-mania-dropdown-search {
     margin-bottom:0.125rem;
}
 .select-mania-tiny .select-mania-search-input {
     padding:0.125rem;
     font-size:0.75rem;
}
 .select-mania-tiny .select-mania-item {
     min-height:1rem;
     padding:0.125rem;
     font-size:0;
}
 .select-mania-tiny .select-mania-group-icon, .select-mania-tiny .select-mania-item-icon {
     width: 0.875rem;
     height: 0.875rem;
     margin-right: 0.125rem;
     font-size: 0.65rem;
}
 .select-mania-tiny .select-mania-group-icon i, .select-mania-tiny .select-mania-item-icon i {
     width: 0.875rem;
     height: 0.875rem;
}
 .select-mania-tiny .select-mania-group-text, .select-mania-tiny .select-mania-item-text {
     min-height: 0.875rem;
     font-size:0.75rem;
}
 .select-mania-tiny .select-mania-group-icon+.select-mania-group-text, .select-mania-tiny .select-mania-item-icon+.select-mania-item-text {
     width: calc(100% - 1.1875rem);
}
 .select-mania-tiny .select-mania-group-title {
     padding:0.125rem;
     font-size:0.75rem;
}
 .select-mania-tiny .select-mania-group-inner .select-mania-item {
     padding-left:0.5rem;
}
/* ################################################################## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ TAILLE SMALL ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ################################################################## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GLOBAL */
 .select-mania-small .select-mania-inner {
     min-height:2.125rem;
     padding:0.25rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SELECTED VALUES */
 .select-mania-small .select-mania-values {
     width:calc(100% - 2.75rem);
     min-height:1.5rem;
}
 .select-mania-small .select-mania-value {
     height:1.375rem;
}
 .select-mania-small .select-mania-value-text {
     height:1.25rem;
     padding:0.1875rem;
     font-size:0.8rem;
}
 .select-mania-small.select-mania-multiple .select-mania-value-text {
     max-width:calc(100% - 1.25rem);
}
 .select-mania.select-mania-multiple.select-mania-small .select-mania-value-clear {
     width:1.25rem;
     height:1.25rem;
     padding:0.1875rem;
}
 .select-mania-small .select-mania-value-clear i {
     line-height:0.875rem;
     font-size:0.9rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PLACEHOLDER */
 .select-mania-small .select-mania-placeholder {
     height:1.25rem;
     padding:0.25rem;
     font-size:0.8rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CLEAN VALUES ICON */
 .select-mania-small .select-mania-clear {
     width:1.375rem;
}
 .select-mania-small .select-mania-clear i {
     font-size:1rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ARROW ICON */
 .select-mania-small .select-mania-arrow {
     width:1.375rem;
}
 .select-mania-small .select-mania-arrow i {
     font-size:1rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DROPDOWN */
 .select-mania-dropdown.select-mania-small {
     padding:0.25rem;
}
 .select-mania-small .select-mania-dropdown-search {
     margin-bottom:0.25rem;
}
 .select-mania-small .select-mania-search-input {
     padding:0.25rem;
     font-size:0.8rem;
}
 .select-mania-small .select-mania-item {
     min-height:1rem;
     padding:0.25rem;
     font-size:0;
}
 .select-mania-small .select-mania-group-icon, .select-mania-small .select-mania-item-icon {
     width: 1rem;
     height: 1rem;
     margin-right: 0.1875rem;
     font-size: 0.8rem;
}
 .select-mania-small .select-mania-group-icon i, .select-mania-small .select-mania-item-icon i {
     width: 1rem;
     height: 1rem;
}
 .select-mania-small .select-mania-group-text, .select-mania-small .select-mania-item-text {
     min-height: 1rem;
     font-size:0.8rem;
}
 .select-mania-small .select-mania-group-icon+.select-mania-group-text, .select-mania-small .select-mania-item-icon+.select-mania-item-text {
     width: calc(100% - 1.1875rem);
}
 .select-mania-small .select-mania-group-title {
     padding:0.25rem;
     font-size:0.8rem;
}
 .select-mania-small .select-mania-group-inner .select-mania-item {
     padding-left:0.75rem;
}
/* ################################################################## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~ TAILLE LARGE ~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ################################################################## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GLOBAL */
 .select-mania-large .select-mania-inner {
     min-height:3.25rem;
     padding:0.5rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SELECTED VALUES */
 .select-mania-large .select-mania-values {
     width:calc(100% - 3.5rem);
     min-height:2rem;
}
 .select-mania-large .select-mania-value {
     height:2rem;
}
 .select-mania-large .select-mania-value-text {
     height:2rem;
     padding:0.25rem;
     font-size:1.1rem;
}
 .select-mania-large.select-mania-multiple .select-mania-value-text {
     max-width:calc(100% - 1.625rem);
}
 .select-mania.select-mania-multiple.select-mania-large .select-mania-value-clear {
     width:1.625rem;
     height:2rem;
     padding:0.25rem;
}
 .select-mania-large .select-mania-value-clear i {
     line-height:1.5rem;
     font-size:1.1rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ PLACEHOLDER */
 .select-mania-large .select-mania-placeholder {
     height:2rem;
     padding:0.375rem;
     font-size:1.1rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ CLEAN VALUES ICON */
 .select-mania-large .select-mania-clear {
     width:1.75rem;
}
 .select-mania-large .select-mania-clear i {
     font-size:1.2rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ARROW ICON */
 .select-mania-large .select-mania-arrow {
     width:1.75rem;
}
 .select-mania-large .select-mania-arrow i {
     font-size:1.2rem;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DROPDOWN */
 .select-mania-dropdown.select-mania-large {
     padding:0.5rem;
}
 .select-mania-large .select-mania-dropdown-search {
     margin-bottom:0.5rem;
}
 .select-mania-large .select-mania-search-input {
     padding:0.5rem;
     font-size:1.1rem;
}
 .select-mania-large .select-mania-item {
     min-height:1.5rem;
     padding:0.5rem;
     font-size:0;
}
 .select-mania-large .select-mania-group-icon, .select-mania-large .select-mania-item-icon {
     width: 1.375rem;
     height: 1.375rem;
     margin-right: 0.3125rem;
     font-size: 1.1rem;
}
 .select-mania-large .select-mania-group-icon i, .select-mania-large .select-mania-item-icon i {
     width: 1.375rem;
     height: 1.375rem;
}
 .select-mania-large .select-mania-group-text, .select-mania-large .select-mania-item-text {
     min-height: 1.375rem;
     font-size:1.1rem;
}
 .select-mania-large .select-mania-group-icon+.select-mania-group-text, .select-mania-large .select-mania-item-icon+.select-mania-item-text {
     width: calc(100% - 1.6875rem);
}
 .select-mania-large .select-mania-group-title {
     padding:0.5rem;
     font-size:1.1rem;
}
 .select-mania-large .select-mania-group-inner .select-mania-item {
     padding-left:1.5rem;
}
/* ################################################################## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 主题 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ################################################################## */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SELECTMANIA ELEMENT */
.select-mania-theme-square .select-mania-inner { border-radius: 0; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ SELECTED VALUES */

.select-mania-theme-square .select-mania-value { border-radius: 0; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ DROPDOWN */

.select-mania-theme-square .select-mania { border-radius: 0; }

.select-mania-theme-square .select-mania-search-input { border-radius: 0; }

.select-mania-theme-square .select-mania-item { border-radius: 0; }





/* ******************************************************************************************
*******************            装载highstock控件的div        *********************************
*******************************************************************************************/
.container_highstock {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0 auto;
}
