<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--允许全屏-->
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta content="telephone=no,email=no" name="format-detection">
        <meta http-equiv="refresh" content="20">
        <script src="/static/js/flexible_css.debug.js"></script>
        <script src="/static/js/flexible.debug.js"></script>
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <link rel="apple-touch-icon" href="favicon.png">
        <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">
        <title>申万宏源FICC</title>
        <link href="/static/css/quotes.css" rel="stylesheet" type="text/css">
        <script src="//g.alicdn.com/mtb/lib-aa/0.0.33/??aa.js,dirty.js"></script>

        <style>
            html,body{
                height: 100vh;
                background-color: #050505;
            }
        </style>
        <meta content="a1z3i" name="data-spm">
        <meta content="20140614.a1z3i.meyxt9ed" name="data-scm">
    </head>

    <body data-spm="meyxt9ed">
    <!-- Item Header Template -->
        <div class="html_content">
            <div class="item-section" data-repeat="sections">
                <div class="item-section_header">
                    <h2>申万宏源证券有限公司--期权报价</h2>
                </div>

                <table id="optionTable" class="table">
                    <tr id="tableTitle">
                        <th class="table-th">品种</th>
                        <th class="table-th">标的</th>
                        <th class="table-th">标的价格</th>
                        <th class="table-th">买价</th>
                        <th class="table-th">卖价</th>
                    </tr>
                </table>

            </div>
        </div>

        <script>

             $(function() {
                 //从后端获取数据
                 var quoteData = [{{ series|safe }}];
                 console.log(quoteData[0])

                 //解析json数据
                 var data = [];
                 $.each(quoteData[0], function(i, item){
                     data.push([
                         i,
                         item.pricingAsk,
                         item.pricingBid,
                         item.forward,
                         item.name,
                     ]);
                 });
                 console.log(data)


                for(var i = 0; i < data.length; ++i)
                {
                    var newRow='<tr id="option'+i+'" style="background-color:#050505">' +
                        '<td class="table-td">'+ data[i][4] +'</td>' +
                        '<td class="table-td">'+ data[i][0] +'</td>' +
                        '<td class="table-td">'+ data[i][3] +'</td>' +
                        '<td class="table-td">'+ data[i][1] +'</td>' +
                        '<td class="table-td">'+ data[i][2] +'</td>';
                    $('#optionTable').append(newRow);
                }

            });

        </script>
    </body>
</html>