<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--允许全屏-->
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="yes" name="apple-touch-fullscreen">
        <meta content="telephone=no,email=no" name="format-detection">
        <meta http-equiv="refresh" content="20">
        <script src="/static/js/flexible_css.debug.js"></script>
        <script src="/static/js/flexible.debug.js"></script>
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <title>申万宏源FICC</title>
        <link href="/static/css/quotes.css" rel="stylesheet" type="text/css">

        <style>
            html,body{
                height: 100vh;
                background-color: #050505;
            }
        </style>
    </head>

    <body>

        <div class="html_content">
            <div class="item-section" data-repeat="sections">
                <div class="item-section_header">
                    <h2>申万宏源证券有限公司--期权报价</h2>
                </div>
            </div>>
        </div>>


    </body>


</html>